
<footer class="footer">
    <h3>Kontakt</h3>
        <table>
            <tr>
                <td class="footer__left">Josef Doležal</td>
                <td>+420 123 123 123</td>
            </tr>
            <tr>
                <td  class="footer__left">Tečovice 123, 763 02 Zlín 4</td>
                <td>vinarstvi-dolezal@gmail.com</td>
            </tr>
        </table>

     <div class="footer__copyright">   
        <p>© 2022 Vinařství Doležal | DUKATT</p>
    </div>
</footer>