<section class="menu">
		<div class="menu__container">
			<div class="menu__logo">
				<a href="/"><img src="/images/logo-small.png" alt="logo vinařství"></a>
			</div>
				<ul class="menu__list">
					<li><a class="menu__list" href="/">O nás</a></li>
					<li><a class="menu__list" href="/sortiment/">Sortiment</a></li>
					<li><a class="menu__list" href="/chata/">Chata</a></li>
					<li><a class="menu__list" href="/Kontakt">Kontakt</a></li>
				</ul>
		</div>
	</section>

    